<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfiguationSectionHandler, log4net"/>

  </configSections>
  <log4net>
    <appender name="CoreAppender" type="log4net.Appender.FileAppender">
      <file value="${PROGRAMDATA}\Supervision\Log.txt"/>
      <encoding value="utf-8"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy-HH:mm:ss} [%level] [%property{function}]: %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="CoreAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <!--<add name="MTAQuizEntities" connectionString="metadata=res://*/MTAQuizModel.csdl|res://*/MTAQuizModel.ssdl|res://*/MTAQuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=169.254.227.0;initial catalog=MTA_QUIZ;user id=sa;password=1234@bcd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
      <add name="MTAQuizEntities" connectionString="metadata=res://*/MTAQuizModel.csdl|res://*/MTAQuizModel.ssdl|res://*/MTAQuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= 127.0.0.1;initial catalog=MTA_QUIZ;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GeneralManagement.Properties.Settings.MTA_QUIZ_8ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=MTA_QUIZ_8;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GeneralManagement.Properties.Settings.MTA_QUIZConnectionString" connectionString="Data Source=169.254.227.0;Initial Catalog=MTA_QUIZ;User ID=sa;Password=1234@bcd" providerName="System.Data.SqlClient"/>
    <add name="GeneralManagement.Properties.Settings.MTA_QUIZ_8ConnectionString2" connectionString="Data Source=172.20.10.7;Initial Catalog=MTA_QUIZ_8;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
    <appSettings>
    <!--Type:
         0      //None
         1      //Debug
         2      //File
         3      //FileAppend
         error  //None
         -->
    <add key="Type" value="2"/>
    <!--Path:
         value= null    //current project 
         value= empty   //current project
         value= error   //current project
         value="%LocalAppData%\Test\Temp"
         value="D:\Test\Log"-->
    <add key="Path" value=""/>
  </appSettings>
</configuration>
