<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
   <add name="MTAQuizEntities" connectionString="metadata=res://*/MTAQuizModel.csdl|res://*/MTAQuizModel.ssdl|res://*/MTAQuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=169.254.227.0;initial catalog=MTA_QUIZ;user id=sa;password=1234@bcd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
