<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="MTAQuizEntities" connectionString="metadata=res://*/MTAQuizModel.csdl|res://*/MTAQuizModel.ssdl|res://*/MTAQuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TRLFU63\PHANDUY;initial catalog=MTA_QUIZ_6;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>
     
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>