<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="QuizMain" connectionString="data source=127.0.0.1;initial catalog=MTA_QUIZ_MAIN;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CreateDB.Properties.Settings.MTA_QUIZConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=EXON_SYSTEM;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="CreateDB.Properties.Settings.EXON_SYSTEMConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=EXON_SYSTEM;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="Quiz" connectionString="data source=169.254.227.0;initial catalog=MTA_QUIZ;user id=mtauser;password=1234@mta;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>