<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="MTAQuizEntities" connectionString="metadata=res://*/MTAQuizModel.csdl|res://*/MTAQuizModel.ssdl|res://*/MTAQuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=169.254.222.235;initial catalog=MTA_QUIZ;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="RMDbContext" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="EXON_DbContext" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="MTA_Quiz_Main" connectionString="data source=169.254.222.235;initial catalog=MTA_QUIZ;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ExonSystem" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="MTA_QUIZ_Entities" connectionString="metadata=res://*/MTA_QUIZ.csdl|res://*/MTA_QUIZ.ssdl|res://*/MTA_QUIZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=169.254.222.235;initial catalog=MTA_QUIZ;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="QuizMain" connectionString="data source=169.254.222.235;initial catalog=MTA_QUIZ;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="CreateDB.Properties.Settings.MTA_QUIZConnectionString" connectionString="Data Source=169.254.222.235;Initial Catalog=MTA_QUIZ;User ID=sa;password=123456;" providerName="System.Data.SqlClient"/>
    <add name="MTA_QUIZ" connectionString="data source=169.254.222.235;initial catalog=MTA_QUIZ;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  
    <!--connection string khi chạy máy cá nhân
    <add name="MTAQuizEntities" connectionString="metadata=res://*/MTAQuizModel.csdl|res://*/MTAQuizModel.ssdl|res://*/MTAQuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=MTA_QUIZ;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="RMDbContext" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="EXON_DbContext" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="MTA_Quiz_Main" connectionString="data source=127.0.0.1;initial catalog=MTA_QUIZ;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ExonSystem" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="MTA_QUIZ_Entities" connectionString="metadata=res://*/MTA_QUIZ.csdl|res://*/MTA_QUIZ.ssdl|res://*/MTA_QUIZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=MTA_QUIZ;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MTA_QUIZ" connectionString="data source=127.0.0.1;initial catalog=MTA_QUIZ;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="CreateDB.Properties.Settings.MTA_QUIZConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=MTA_QUIZ;User ID=sa" providerName="System.Data.SqlClient"/>
  -->
  </connectionStrings>
</configuration>
